:root {
  --section-padding: 120px;
  --purple-color: #e400e0;
  --blue-color: #00f0f2;
  --yellow-color: #f9f900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #090c10;
}

ul {
  list-style: none;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

canvas::before {}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0 0 0 / 60%); */
  z-index: 0;

}

.layer::before {
  content: "";
}

.layer::after {}

.header-section {
  width: 100%;
  padding: 10px 10px;
  z-index: 1;
  position: relative;
}

.header-section .header-content {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.header-section .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(78 78 78 / 9%);
  padding: 20px 0;
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 8px;
}

@media (max-width: 992px) {
  .header-section .links {
    gap: 1rem;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .header-section .links {
    gap: 1rem;
    width: 100%;
  }
}

.header-section .links li a {
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.151);
  color: var(--blue-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.header-section .links li a:hover {
  background-color: rgba(177, 177, 177, 0.421);
  text-shadow: 0px 0 10px #007878;
}

@media (max-width: 768px) {
  .header-section .links li a {
    padding: 8px 12px;
    font-size: 13px;
  }
}

@media (max-width: 460px) {
  .header-section .links li a {
    padding: 5px 10px;
    font-size: 10px;
  }
}

.hero-section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 87px);
  color: white;
}

.hero-section .container {
  height: 100%;
  position: relative;
}

.hero-section .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .hero-section .hero-content {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .hero-section .hero-content {
    width: 80%;
  }
}

@media (max-width: 758px) {
  .hero-section .hero-content {
    width: 90%;
  }
}

@media (max-width: 567px) {
  .hero-section .hero-content {
    text-align: center;
  }
}

.hero-section .hero-content h4 {
  font-size: 2rem;
  color: var(--yellow-color);
  font-weight: 900;
}

.hero-section .hero-content h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Montserrat';
}

.hero-section .hero-content h3 {
  margin-bottom: 1rem;
}

.hero-section .hero-content h3 span {
  font-size: 2.5rem;
  margin-left: 10px;
  color: var(--purple-color);
  font-weight: 900;
  color: var(--yellow-color);
  color: var(--blue-color);
}

@media (max-width: 758px) {
  .hero-section .hero-content h2 {
    font-size: 2.5rem;
  }

  .hero-section .hero-content h3 span {
    font-size: 2rem;
  }
}

@media (max-width: 567px) {
  .hero-section .hero-content h3 {
    display: flex;
    flex-direction: column;
  }
}

.hero-section .hero-content p {
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: 'Inter';
  color: #d0d0d0;
}

.hero-section .hero-content .btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}

@media (max-width: 567px) {
  .hero-section .hero-content .btns {
    justify-content: center;
    flex-direction: column;
  }
}

.hero-section .hero-content .btns .btn {
  border-radius: 5px;
  color: var(--blue-color);
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: 0.5s;
  border: 2px solid var(--blue-color);
}

.hero-section .hero-content .btns .btn:hover {
  text-shadow: 0 0 20px var(--blue-color);
  background-color: transparent;
  transform: scale(1.05);
}

.hero-section .hero-content .btns .links-btn a {
  color: var(--yellow-color);
  font-size: 22px;
  margin: 0 4px;
  display: inline-block;
  transition: 0.5s;

}

.hero-section .hero-content .btns .links-btn a:hover {
  transform: scale(1.3);
  text-shadow: 0 0 10px var(--yellow-color);
}

.hero-section .go-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue-color);
  text-decoration: none;
  animation: 0.3s up_down_ani ease-out alternate infinite;
}

.hero-section .go-down:hover {
  text-shadow: 0 0 20px var(--blue-color);

}

@keyframes up_down_ani {
  to {
    bottom: 10px;
  }
}

.about-section {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  color: white;
}

.about-section .about-content {
  position: relative;
}

.about-section .about-content .img {
  position: relative;
}

.about-section .about-content .img img {
  width: 100%;
  border-radius: 20px;
}

.about-section .img span {
  position: absolute;
  background-color: transparent;
  color: var(--blue-color);
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: block;
  border-radius: 6px;
  border: 2px solid var(--blue-color);
  text-align: center;
  line-height: 40px;
  text-shadow: 0 0 20px var(--blue-color);
  transition: 1s;
}

.about-section .img span:hover {
  transform: scale(1.2);
}

.about-section .img span:nth-child(1) {
  color: var(--yellow-color);
  text-shadow: 0 0 20px var(--yellow-color);
  border-color: var(--yellow-color);
  top: -30px;
  left: 0px;
}

.about-section .img span:nth-child(2) {
  color: var(--yellow-color);
  text-shadow: 0 0 20px var(--yellow-color);
  border-color: var(--yellow-color);
  bottom: -20px;
  right: 0%;
}

.about-section .img span:nth-child(3) {
  color: var(--blue-color);
  text-shadow: 0 0 20px var(--blue-color);
  border-color: var(--blue-color);
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

.about-section .img span:nth-child(4) {
  color: var(--purple-color);
  text-shadow: 0 0 20px var(--purple-color);
  border-color: var(--purple-color);
  top: -20px;
  right: 0%;
}

.about-section .img span:nth-child(5) {
  color: var(--purple-color);
  text-shadow: 0 0 20px var(--purple-color);
  border-color: var(--purple-color);
  bottom: -15px;
  left: -10px;
}

.main-heading {
  background: var(--yellow-color);
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
  color: black;
  margin-bottom: 2rem;
  position: relative;
}

.main-heading.yellow {
  background: var(--yellow-color);
}

.main-heading.blue {
  background: var(--blue-color);
}

.main-heading.purple {
  background: var(--purple-color);
}

.main-heading h3 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: 'Goldman', sans-serif;
}

.about-section .info p {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-section .about-content .info .prog-lang {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 768px) {
  .about-section .info p {
    text-align: center;
  }

  .about-section .about-content .info .prog-lang {
    justify-content: center;
  }
}

.about-section .about-content .info .prog-lang span {
  padding: 4px 6px;
  border: 2px solid var(--blue-color);
  font-family: 'Goldman';
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 5px;
  color: var(--blue-color);
  text-shadow: 0 0 10px #00f0f261;
  box-shadow: 0 0 10px 0px #00f2f24a;
  transition: 0.8s;
}

.about-section .about-content .info .prog-lang span.blue {
  text-shadow: 0 0 10px #00f0f261;
  box-shadow: 0 0 10px 0px #00f2f24a;
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.about-section .about-content .info .prog-lang span.yellow {
  text-shadow: 0 0 10px #f9f90077;
  box-shadow: 0 0 10px 0px #f9f90044;
  border-color: var(--yellow-color);
  color: var(--yellow-color);
}

.about-section .about-content .info .prog-lang span.purple {
  text-shadow: 0 0 10px #e400e076;
  box-shadow: 0 0 10px 0px #e400e058;
  border-color: var(--purple-color);
  color: var(--purple-color);
}

.about-content .info .prog-lang span.blue:hover {
  transform: scale(1.1);
  background-color: #00f2f230;
}
.about-content .info .prog-lang span.purple:hover {
  transform: scale(1.1);
  background-color: #e400e02b;
}
.about-content .info .prog-lang span.yellow:hover {
  transform: scale(1.1);
  background-color: #f9f9002e;
}
