:root {
  --purple-color: #e400e0;
  --blue-color: #00f0f2;
  --yellow-color: #f9f900;
  --font-goldman: 'Goldman', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-noto-sans: 'Noto Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-noto-sans);
  background: #090c10;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0px;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

canvas::before {}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0 0 0 / 60%); */
  z-index: 0;

}

.layer::before {
  content: "";
}

.layer::after {}

.header-section {
  width: 100%;
  padding: 10px 10px;
  z-index: 102;
  position: relative;
}

.header-section .header-content {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.header-section .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(78 78 78 / 9%);
  padding: 20px 0;
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 8px;
  transition: 0.5s;
}

.header-section.fixed,
.header-section.fixing-anim {
  position: fixed;
}

.header-section.fixing-anim .links {
  background-image: linear-gradient(93deg, #40404094, #38383873);
  box-shadow: 0 0 10px 0px #ffffff40;
}

.header-section.fixed .links {
  background-image: linear-gradient(93deg, #40404094, #38383873);
  box-shadow: 0 0 10px 0px #ffffff40;
  transform: translateY(-8rem);
}

.header-section.fixed:hover .links {
  transform: translateY(0rem);
}

@media (max-width: 992px) {
  .header-section .links {
    gap: 1rem;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .header-section .links {
    gap: 1rem;
    width: 100%;
  }
}

.header-section .links li a {
  padding: 10px 15px;
  border-radius: 5px;
  background: rgb(148 148 148 / 9%);
  color: var(--blue-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  box-shadow: 0 0 5px #ffffff33;
  font-weight: bold;
}

.header-section .links li a.active {
  background: white;
  color: black;
}

.header-section .links li a:not(.active):hover {
  background-color: rgba(201, 201, 201, 0.603);
  text-shadow: 0px 0 10px #03efef;
}

@media (max-width: 768px) {
  .header-section .links li a {
    padding: 12px 15px;
    font-size: 13px;
  }
}

@media (max-width: 460px) {
  .header-section .links li a {
    padding: 10px 15px;
    font-size: 10px;
  }
}

.hero-section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 87px);
  color: white;
}

.hero-section .container {
  height: 100%;
  position: relative;
}

.hero-section .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .hero-section .hero-content {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .hero-section .hero-content {
    width: 80%;
  }
}

@media (max-width: 758px) {
  .hero-section .hero-content {
    width: 90%;
  }
}

@media (max-width: 567px) {
  .hero-section .hero-content {
    text-align: center;
  }
}

.hero-section .hero-content h4 {
  font-size: 2rem;
  color: var(--yellow-color);
  font-weight: 900;
}

.hero-section .hero-content h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--font-montserrat);
}

.hero-section .hero-content h3 {
  margin-bottom: 1rem;
}

.hero-section .hero-content h3 span {
  font-size: 2.5rem;
  margin-left: 10px;
  color: var(--purple-color);
  font-weight: 900;
  color: var(--yellow-color);
  color: var(--blue-color);
}

@media (max-width: 758px) {
  .hero-section .hero-content h2 {
    font-size: 2.5rem;
  }

  .hero-section .hero-content h3 span {
    font-size: 2rem;
  }
}

@media (max-width: 567px) {
  .hero-section .hero-content h3 {
    display: flex;
    flex-direction: column;
  }
}

.hero-section .hero-content p {
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: var(--font-inter);
  color: #d0d0d0;
}

.hero-section .hero-content .btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}

@media (max-width: 567px) {
  .hero-section .hero-content .btns {
    justify-content: center;
    flex-direction: column;
  }
}

.hero-section .hero-content .btns .btn {
  border-radius: 5px;
  color: var(--blue-color);
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: 0.5s;
  border: 2px solid var(--blue-color);
}

.hero-section .hero-content .btns .btn:hover {
  text-shadow: 0 0 20px var(--blue-color);
  background-color: transparent;
  transform: scale(1.05);
}

.hero-section .hero-content .btns .links-btn a {
  color: var(--yellow-color);
  font-size: 22px;
  margin: 0 4px;
  display: inline-block;
  transition: 0.5s;

}

.hero-section .hero-content .btns .links-btn a:hover {
  transform: scale(1.3);
  text-shadow: 0 0 10px var(--yellow-color);
}

.hero-section .go-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue-color);
  text-decoration: none;
}

.hero-section .go-down:hover {
  text-shadow: 0 0 20px var(--blue-color);

}

.about-section {
  position: relative;
  color: white;
}

.about-section .about-content {
  position: relative;
}

.about-section .about-content .img {
  position: relative;
}

.about-section .about-content .img img {
  width: 100%;
  border-radius: 20px;
}

.about-section .img span {
  position: absolute;
  background-color: transparent;
  color: var(--blue-color);
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: block;
  border-radius: 6px;
  border: 2px solid var(--blue-color);
  text-align: center;
  line-height: 40px;
  text-shadow: 0 0 20px var(--blue-color);
  transition: 1s;
}

.about-section .img span:hover {
  transform: scale(1.2);
}

.about-section .img span:nth-child(1) {
  color: var(--yellow-color);
  text-shadow: 0 0 20px var(--yellow-color);
  border-color: var(--yellow-color);
  top: -30px;
  left: 0px;
}

.about-section .img span:nth-child(2) {
  color: var(--yellow-color);
  text-shadow: 0 0 20px var(--yellow-color);
  border-color: var(--yellow-color);
  bottom: -20px;
  right: 0%;
}

.about-section .img span:nth-child(3) {
  color: var(--blue-color);
  text-shadow: 0 0 20px var(--blue-color);
  border-color: var(--blue-color);
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

.about-section .img span:nth-child(4) {
  color: var(--purple-color);
  text-shadow: 0 0 20px var(--purple-color);
  border-color: var(--purple-color);
  top: -20px;
  right: 0%;
}

.about-section .img span:nth-child(5) {
  color: var(--purple-color);
  text-shadow: 0 0 20px var(--purple-color);
  border-color: var(--purple-color);
  bottom: -15px;
  left: -10px;
}

.about-section .info p {
  font-family: var(--font-inter);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-section .about-content .info .prog-lang {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 768px) {
  .about-section .info p {
    text-align: center;
  }

  .about-section .about-content .info .prog-lang {
    justify-content: center;
  }
}

.about-section .about-content .info .prog-lang span {
  padding: 4px 6px;
  border: 2px solid var(--blue-color);
  font-family: var(--font-goldman);
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 5px;
  color: var(--blue-color);
  text-shadow: 0 0 10px #00f0f261;
  box-shadow: 0 0 10px 0px #00f2f24a;
  transition: 0.8s;
}

.about-section .about-content .info .prog-lang span.blue {
  text-shadow: 0 0 10px #00f0f261;
  box-shadow: 0 0 10px 0px #00f2f24a;
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.about-section .about-content .info .prog-lang span.yellow {
  text-shadow: 0 0 10px #f9f90077;
  box-shadow: 0 0 10px 0px #f9f90044;
  border-color: var(--yellow-color);
  color: var(--yellow-color);
}

.about-section .about-content .info .prog-lang span.purple {
  text-shadow: 0 0 10px #e400e076;
  box-shadow: 0 0 10px 0px #e400e058;
  border-color: var(--purple-color);
  color: var(--purple-color);
}

.about-content .info .prog-lang span.blue:hover {
  transform: scale(1.1);
  background-color: #00f2f230;
}

.about-content .info .prog-lang span.purple:hover {
  transform: scale(1.1);
  background-color: #e400e02b;
}

.about-content .info .prog-lang span.yellow:hover {
  transform: scale(1.1);
  background-color: #f9f9002e;
}

/* Start Work Section */
.work-section {}

.work-section .work-content>p {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-transform: capitalize;
  color: white;
  font-family: var(--font-goldman);
  text-align: center;
}

.work-section .work-content>p a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--yellow-color);
  text-decoration: none;
  line-height: 1.5;
  transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: fit-content;
  margin: auto;
}

.work-content>p a span {
  transition: 0.5s;
  transform: scale(1);
  opacity: 1;
  position: absolute;
  padding: 4px 15px;
}

.work-content>p a:hover span {
  transform: scale(0);
  opacity: 0;
}

.work-content>p a i {
  transition: 0.5s;
  transform: scale(0);
  opacity: 0;
  border: 1px solid;
  border-radius: 6px;
  padding: 6px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-content>p a:hover i {
  transform: scale(1.2);
  opacity: 1;
}

.work-content>p a span,
.work-content>p a i {
  border: 1px solid;
  border-radius: 6px;
}

.work-section .work-content .project {
  padding: 5px;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .work-section .work-content .project {
    padding: 5px 15px;
  }
}

.work-section .work-content .project:hover {
  transform: scale(1.02) translateY(-10px);
  z-index: 100;
}

.work-section .work-content .project .content {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 7px 0px #ffffff69;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.work-section .work-content .project .content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000002e;
}

.work-content .project:nth-child(1) .content {
  background-image: url(/assets/project1.jpg);
}

.work-content .project:nth-child(2) .content {
  background-image: url(/assets/project2.jpg);
}

.work-content .project:nth-child(3) .content {
  background-image: url(/assets/project3.jpg);
}

.work-content .project .content .project-title {
  padding: 10px 5px;
  background: #7300ff;
  font-size: 14px;
  font-family: var(--font-goldman);
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.work-content .project .content .project-lang {
  padding: 10px 40px;
  background: #004fd8;
  width: fit-content;
  transform: skewX(343deg);
  position: absolute;
  bottom: -5px;
  z-index: 2;
  left: -20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.168);
  transition: 0.5s;
  border-radius: 5px;
  width: 120px;
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-content .project .content .project-lang img {
  width: 30px;
  position: absolute;
  transform: scale(0) skewX(17deg);
  opacity: 0;
  transition: 0.5s;
}

.work-content .project .content .project-lang img.active {
  transform: scale(1) skewX(17deg);
  opacity: 1;
}

.work-content .project .content .bottom-content {
  background: #0b2033;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px -9px 20px 14px #0000004d;
}

.work-content .project .content .bottom-content .links a {
  font-family: var(--font-goldman);
  color: white;
  border: 2px solid #5e00d1;
  background: #5e00d1;
  padding: 5px 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}

.work-content .project .content .bottom-content .links a:hover {
  background: #2d0063;
}

.square {
  height: 50px;
  background-color: #00f0f261;
}

/* End Work Section */
