:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #0d1117;
}

ul {
  list-style: none;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: 0;

}

.layer::before {
  content: "";
}

.layer::after {}

.header-section {
  width: 100%;
  padding: 10px 10px;
  z-index: 1;
  position: relative;
}

.header-section .header-content {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.header-section .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(78 78 78 / 9%);
  padding: 20px 0;
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 8px;
}

@media (max-width: 992px) {
  .header-section .links {
    gap: 1rem;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .header-section .links {
    gap: 1rem;
    width: 100%;
  }
}

.header-section .links li a {
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.151);
  color: #00f0f2;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.header-section .links li a:hover {
  background-color: rgba(177, 177, 177, 0.421);
  text-shadow: 0px 0 10px #007878;
}

@media (max-width: 992px) {
  .header-section .links li a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .header-section .links li a {
    padding: 8px 12px;
    font-size: 13px;
  }
}

@media (max-width: 460px) {
  .header-section .links li a {
    padding: 5px 10px;
    font-size: 10px;
  }
}

.hero-section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 87px);
  color: white;
}

.hero-section .container {
  height: 100%;
  position: relative;
}

.hero-section .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .hero-section .hero-content {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .hero-section .hero-content {
    width: 80%;
  }
}

@media (max-width: 758px) {
  .hero-section .hero-content {
    width: 90%;
  }
}

@media (max-width: 567px) {
  .hero-section .hero-content {
    text-align: center;
  }
}

.hero-section .hero-content h4 {
  font-size: 2rem;
  color: #f9f900;
  font-weight: 900;
}

.hero-section .hero-content h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Montserrat';
}

.hero-section .hero-content h3 {
  margin-bottom: 1rem;
}

.hero-section .hero-content h3 span {
  font-size: 2.5rem;
  margin-left: 10px;
  animation: cursor_animation 0.5s linear infinite;
  color: #8e00c8;
  font-weight: 900;
  color: #f9f900;
  color: #00f0f2;
}

@media (max-width: 758px) {
  .hero-section .hero-content h2 {
    font-size: 2.5rem;
  }

  .hero-section .hero-content h3 span {
    font-size: 2rem;
  }
}

@media (max-width: 567px) {
  .hero-section .hero-content h3 {
    display: flex;
    flex-direction: column;
  }
}

.hero-section .hero-content p {
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: 'Inter';
  color: #d0d0d0;
}

.hero-section .hero-content .btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}

@media (max-width: 567px) {
  .hero-section .hero-content .btns {
    justify-content: center;
    flex-direction: column;
  }
}

.hero-section .hero-content .btns .btn {
  border-radius: 5px;
  color: #00f0f2;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: 0.5s;
  border: 2px solid #00f0f2;
}

.hero-section .hero-content .btns .btn:hover {
  text-shadow: 0 0 20px #00f0f2;
  background-color: transparent;
  transform: scale(1.05);
}

.hero-section .hero-content .btns .links-btn a {
  color: #f9f900;
  font-size: 22px;
  margin: 0 4px;
  display: inline-block;
  transition: 0.5s;

}

.hero-section .hero-content .btns .links-btn a:hover {
  transform: scale(1.3) s;
  text-shadow: 0 0 10px #f9f900;
}

.hero-section .go-down {
  position: absolute;

  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #00f0f2;
  text-decoration: none;
  animation: 0.3s up_down_ani ease-out alternate infinite;
}
.hero-section .go-down:hover {
  text-shadow: 0 0 20px #00f0f2 ;

}
@keyframes up_down_ani{
  to {
    bottom: 10px ;
  }
}

/* @keyframes cursor_animation {
  from {
    border-right: 4px solid yellow;
  }

  to {
    border-right: none;
  }
} */
